body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Prevents any overflow issues */
  }
  
  body::before {
    content: ''; /* Required for the pseudo-element to render */
    position: absolute; /* Position it relative to the body */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    background-image: url('../images/secureai.png'); /* Path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5); /* Darkens the image */
    filter: blur(5px); /* Blurs the background image */
  }



#audioElement {
    display: none;
}

.game-area {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 1; /* Ensure it's behind the terminal */
    position: relative; /* Relative positioning to manage layering */
}

@keyframes growShrink {
    0% { transform: scale(0.5); }
    50% { transform: scale(1.5); }
    100% { transform: scale(0.5); }
}

.target_easy {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(206, 54, 54);
    animation: growShrink 6s forwards;
}

.target_normal {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(206, 54, 54);
    animation: growShrink 4s forwards;
}

.target_hard {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(206, 54, 54);
    animation: growShrink 3.2s forwards;
}


.target_brutal {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(206, 54, 54);
    animation: growShrink 2.8s forwards;
}

#timer-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border: 2px solid red;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#timer {
    font-size: 2rem; /* Adjusts the font size to be 2x larger */
    color: red;
    font-weight: bold;
}

#square-bar {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%;
    display: flex;
    align-items: center;
}

.square {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: red;
}


.game-over-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000; /* Make sure it appears above other elements */
}

.game-over-screen button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #327434; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.game-over-screen button:hover {
    background-color: #5ed163;
}

.game-won-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000; /* Make sure it appears above other elements */
}

.game-won-screen button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #327434; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.game-won-screen button:hover {
    background-color: #5ed163;
}
